.page-overlay-wrapper {
  @apply fixed top-0 left-0 w-full h-full;
  z-index: 99999;
  background: rgba(0, 0, 0, 0.5);
}
.spinner {
  @apply text-center absolute top-1/2 left-1/2;
  transform: translate(-50%, -50%);
}
