body.light-theme {
  --green-1: #cef7e2;
  --green-2: #a7f0cc;
  --green-3: #0fc97b;
  --green-4: #2db571;
  --green-5: #279c61;
  --green-6: #1f7b4d;
  --green-7: #12482d;

  --red-1: #fff5f5;
  --red-2: #ffa1ad;
  --red-3: #ff455c;
  --red-4: #ff3a3a;

  --blue-1: #e6f7ff;
  --blue-2: #bed5f6;
  --blue-3: #70a1eb;
  --blue-4: #1890ff;
  --blue-5: #0078e7;
  --blue-6: #093b88;

  --yellow-1: #ffebc7;
  --yellow-2: #ffdc9b;
  --yellow-3: #ffcb69;
  --yellow-4: #ffbf47;
  --yellow-5: #e2a93f;
  --yellow-6: #ca9738;
  --yellow-7: #ad8230;

  --white: #ffffff;
  --light-1: #fafafa;
  --light-2: #f1f1f1;
  --light-3: #e3e3e3;

  --gray-1: #b4b4b4;
  --gray-2: #8c8c8c;
  --gray-3: #5f5f5f;
  --gray-4: #232323;

  --primary: #0f5edd;
  --secondary: var(--white);

  --bg-primary: var(--primary);
  --bg-secondary: #f4f5f5;
  --bg-light: var(--white);
  --bg-light-gray: var(--light-3);
  --bg-dark-blue: #2f465f;
  --bg-active: #e5eefb;
  --bg-success: var(--green-1);
  --bg-danger: var(--red-1);
  --bg-warning: var(--yellow-1);
  --bg-info: var(--blue-1);

  --bd-gray: var(--gray-1);
  --bd-light-gray: var(--light-3);
  --bd-light: var(--light-2);
  --bd-primary: var(--primary);

  --text-base: var(--gray-4);
  --text-secondary: var(--gray-2);
  --text-gray: var(--gray-3);
  --text-white: var(--white);
  --text-success: var(--green-2);
  --text-danger: var(--red-3);
  --text-warning: var(--yellow-7);
  --text-active: var(--primary);
  --text-dark-blue: #2f465f;

  --font-size-xxl: 24px;
  --font-size-xl: 20px;
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-s: 12px;

  --border-radius-s: 2px;
  --border-radius-m: 4px;
  --border-radius-l: 5px;
  --border-radius-xl: 6px;

  --box-shadow: 0 2px 4px rgba(35, 35, 35, 0.1);
}
